<nav class="sidemenu">
    <p>GymTracker</p>
    <ul>
        <form>
            <div class="search">
                <span class="material-symbols-outlined">search</span>
                <input type="text" placeholder="Rechercher...">
            </div>
        </form>
        <li><a [routerLink]="['dashboard']">
            <span class="material-symbols-outlined">dashboard</span>Dashboard</a></li>
        <li><a [routerLink]="['dashboard']"><span class="material-symbols-outlined">
            person
            </span>User</a></li>
        <li><a [routerLink]="['exercices']"><span class="material-symbols-outlined">
            fitness_center
            </span>Exercices</a></li>
    </ul>
</nav>